<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.CourseStudentMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.CourseStudent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="courseid" jdbcType="INTEGER" property="courseid" />
    <result column="studentid" jdbcType="INTEGER" property="studentid" />
    <result column="archive" jdbcType="INTEGER" property="archive" />
  </resultMap>
  <sql id="Base_Column_List">
    id, courseid, studentid
  </sql>
  <select id="selectAllCourseStudent" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    *
    from coursestudent
  </select>
  <select id="selectCourseStudentByCourseId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coursestudent
    where courseid = #{courseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteCourseSrudent" parameterType="java.lang.Integer">
    delete from coursestudent
    where courseid = #{courseId,jdbcType=INTEGER}
    and
    studentid=#{studentId,jdbcType=INTEGER}
  </delete>
  <insert id="insertCourseStudent" parameterType="com.example.demo.entity.CourseStudent">
    insert into coursestudent (id, courseid, studentid,archive
      )
    values (#{id,jdbcType=INTEGER}, #{courseid,jdbcType=INTEGER}, #{studentid,jdbcType=INTEGER},0
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.CourseStudent">
    update coursestudent
    <set>
      <if test="courseid != null">
        courseid = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="studentid != null">
        studentid = #{studentid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateOneArchive" parameterType="java.lang.Integer" >
    update coursestudent
    set archive = 1
    where courseid = #{courseId,jdbcType=INTEGER}
    and
     studentid = #{studentId,jdbcType=INTEGER}
  </update>

  <update id="updateAllArchive" parameterType="java.lang.Integer" >
    update coursestudent
    set archive = 1
    where courseid = #{courseId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.CourseStudent">
    update coursestudent
    set courseid = #{courseid,jdbcType=INTEGER},
      studentid = #{studentid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>