<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.WorkStudentMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.WorkStudent">
    <result column="workid" jdbcType="INTEGER" property="workid" />
    <result column="studentid" jdbcType="INTEGER" property="studentid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="submittime" jdbcType="TIMESTAMP" property="submittime" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="score" jdbcType="INTEGER" property="score" />
  </resultMap>
  <select id="selectALLWorkStudent" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    *
    from workstudent
  </select>

  <update id="teacherCheckWork" parameterType="java.lang.Integer">
UPDATE workstudent set `status`='已批改',
  score=#{score,jdbcType=INTEGER}
  WHERE workid=
 #{workId,jdbcType=INTEGER}
 and studentid=
#{studentId,jdbcType=INTEGER}
  </update>

  <update id="insertWorkStudent" parameterType="com.example.demo.entity.WorkStudent">
UPDATE workstudent
set
 `status`='已提交',
submittime=#{submittime,jdbcType=TIMESTAMP},
text =  #{text,jdbcType=VARCHAR},
message =  #{message,jdbcType=VARCHAR}
  WHERE workid=
 #{workid,jdbcType=INTEGER}
 and studentid=
#{studentid,jdbcType=INTEGER}
  </update>

  <insert id="issueWork" parameterType="java.lang.Integer">
    insert into workstudent (workid, studentid, status
      )
    values (#{workId,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER},
    '未提交'
      )
  </insert>

  <insert id="insertSelective" parameterType="com.example.demo.entity.WorkStudent">
    insert into workstudent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="workid != null">
        workid,
      </if>
      <if test="studentid != null">
        studentid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="submittime != null">
        submittime,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="message != null">
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="workid != null">
        #{workid,jdbcType=INTEGER},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="submittime != null">
        #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>